
/*--------------------------  Content-START  ----------------------------------------------------*/

.con{
    height:100vh;
    width: 100vw;
    //background-image: url('../img/chapel.jpg');
    
    background: linear-gradient(rgba(0, 0, 49, 0.726),rgba(0, 0, 49, 0.726)), url('../img/chapel.jpg');

    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    
    }

    .con h1{
        text-align: center;
        color: rgb(229, 255, 0);
        padding-top: 30px;
        //background-color: rgba(0, 0, 49, 0.726);
        padding-top: 5%;
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        font-weight: bold;
        text-shadow: 2px 2px 10px white;
    }

    span{
        font-weight: bold;
    }

    .con p{
        margin-top: 10%;
       margin-left: 15%;
       padding: 20px;
        background-color: rgba(0, 0, 49, 0.726);
        width: 70%;
        text-align: justify;
        border-radius: 10px;
        font-size: 25px;
        color: white;
        letter-spacing: 2px;
    }

    .con p:hover{
        transition: .1s;
        box-shadow: rgba(255, 255, 255, 0.651) 0px 1px 2px, rgba(255, 255, 255, 0.548) 0px 2px 4px, rgba(255, 255, 255, 0.651) 0px 4px 8px, rgba(255, 255, 255, 0.76) 0px 8px 16px, rgba(255, 255, 255, 0.719) 0px 16px 32px, rgba(255, 255, 255, 0.74) 0px 32px 64px;

    }

.anoun{
    position: absolute;
    top: 29.5%;
    padding-left: 5px;
    color: blue;
}

marquee{
    padding: 8px;
    margin-left: 30px;
    margin-right: 30px;
}
/*-------------------------  Content-END  --------------------------------------------*/
    
    