@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
margin:0;
padding:0;
}


/*------------------------  Bdy-START ---------------------------------------------------*/
.bdy{
    width: 100vw;
    height: 100vh;
}
/*--------------------------  Bdy - END  ----------------------------------------------------*/



/*-----------------------------    Heading - START     -----------------------*/
.topic{
font-family: 'Merriweather', serif;
text-align:center;
padding:10px;
text-shadow: 2px 2px 15px rgb(53, 52, 52);
display: inline;
background-color: 

}

.tit h1 h3{
    background-color: #1877F2;
}
/*-----------------------------    Heading - END     -----------------------*/




/*--------------------------  Menu-START --------------------------------------------------*/

/*-- Navigation --*/
.menu{
    height:50px;
    width:100%;
    background-color: blue;
    padding-top:20px;
    position:sticky;
}

nav{
    display: flex;
}

li{
    display:inline;
    padding:10px;
}

ul li a{
text-decoration:none;
color:rgb(255, 255, 255);
font-weight: 800;
font-size:20px;
font-family: 'Poppins', sans-serif;
}

ul li a:hover{
text-decoration:none;
color:#b2bec3;
font-weight:bold;
font-size:20px;
}

ul li a:active{
text-decoration:none;
color:white;
font-weight:bold;
font-size:20px;
}

/*-- Login button --*/
.btn{
    padding: 7px;
    position: absolute;
    right: 0;
    margin-right: 20px;   
    background-color: rgb(0, 204, 255);
    border: 1px solid lightcyan;
    color: rgb(71, 71, 71);
    font-size: 17px; 
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}
.btn:hover{
    color: white;
    border-color: black;
    transition: .2s;
    box-shadow: rgba(250, 148, 15, 0.918) 0px 30px 60px -12px inset, rgba(255, 231, 14, 0.87) 0px 18px 36px -18px inset;
}
/*------------------------  Menu-END ---------------------------------------------------*/




/* -----------------------  Footer-START  -----------------------------------------------*/
.footer{
    height:150px;
    width:100%;
    background-color: blue;
    color: white;
    display: flex;
}

.box{
    height: 100px;
   //background-color: rgb(142, 174, 202);
    margin: 15px;
}

.b1{
    width: 60%;
    
}

.b2{
    width: 35%;
    
}

.box h3{
    text-align: center;
    padding: 3px;
}

.box address{
    padding: 5px;
    color: white;
}

.add{
    display: flex;
    
}

/*-- Google Map --*/
iframe{
    width: 400px;
    height: 100px;
    padding-left: 10%;
}

/*-- Contact --*/
.cont{
    display: flex;
}

/*-- Mobile numbers --*/
.mobile{
    width: 50%;
   //background-color: #279ee2;
}

.mobile p{
    text-align: center;
}

.mobile p a{
    color: rgb(229, 226, 255);
    text-decoration: none;
}

.mobile svg{
    width: 15px;
    height: 15px;
    color: antiquewhite;
    background-color: black;
    border-radius: 50%;
    padding: 3px;
}

/*-- Social media --*/
.social{
    padding: 0px;
    width: 50%;
    //background-color: aquamarine;
}

.social a svg{
    width: 28px;
    height: 28px;
    position: relative;
    top: 30%;   
    padding: 3px;
    background-color: rgb(229, 232, 238);
    border-radius: 50%;
}

.social a svg:hover{
    width: 33px;
    height: 33px;
    padding: 3px;
    background-color: rgb(255, 255, 255);
}

.twit{
    color: #00acee;
}

.fb{
    color:  #1877F2;
}

.insta{
    color: rgb(224, 63, 171);
}

.linked{
    color: #2a5298;
}

.soc{
    padding: 3%;
}

/*-- Copy-Right --*/
.copy p{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    //background-color: #00acee;

    background: rgb(47,56,255);
    background: linear-gradient(254deg, rgba(47,56,255,1) 0%, rgba(2,38,255,0.8085434002702644) 51%, rgba(33,42,255,1) 100%); 
}
/* -----------------------  Footer-END  -----------------------------------------------*/
