.con .con-topic h1{
    text-align: center;
}
#Ct{
    color: white;
    font-weight: bold;
}

.con-topic{
    padding: 10px;
    background-color: rgba(0, 0, 126, 0.425);
}

.con-cont{
    background-color: rgba(15, 0, 231, 0.336);
    width: 100%;
    height: 100%;
    text-align: center;
}

.con-cont svg{
    color: rgb(241, 201, 66);
    width: 60px;
    height: 60px;
    margin-bottom: 10px%;
    
}

.con-cont p{
    font-size: 20px;
    margin-top: 7%;
    width: 30%;
    margin-left: 35%;
    height: 15%;
    border-radius: 40px;
    background-color: rgb(255, 110, 110);
   
}


.lib{
    padding: 13px;
    font-size: 15px;
    margin-top: 80px;
    cursor: not-allowed;
    border-radius: 40px;
    background-color: green;
}

.lib:hover{
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid black;
    color: white;
    font-weight: bolder;
}
/*--------------------------  Content-START  ----------------------------------------------------*/

.con{
    height:100vh;
    width: 100vw;
    background-image: url('');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    }
    
    /*-------------------------  Content-END  --------------------------------------------*/
  