.con .con-topic h1{
    text-align: center;
    padding-top: 15px;
}
#Ct{
    color: white;
    font-weight: bold;
}
/*--------------------------  Content-START  ----------------------------------------------------*/

.con{
    height:100vh;
    width: 100vw;
    background-image: url('');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    }
    
    /*-------------------------  Content-END  --------------------------------------------*/
  